@model M3PMVC.Models.PartyLegal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>PartyLegal</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CiqPartyTuzelTicariUnvan)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CiqPartyTuzelTicariUnvan)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CiqPartTuzelvalfrom)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CiqPartTuzelvalfrom)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CiqPartyvalto)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CiqPartyvalto)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CiqPartyvergid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CiqPartyvergid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CiqPartyTuzelvergino)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CiqPartyTuzelvergino)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CiqPartyTuzelintype)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CiqPartyTuzelintype)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CiqPartyTuzelID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
